.control-input {
  position: relative;
  &__btn{
    background: none;
    padding: 0;
    margin: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: $input-height-base;
    border: none;
    position: absolute;
    color: $um-blue;
    outline: none !important;
    &[class*='fum-eye']{
      font-size: 24px;
    }
  }
  input[type='password'] ~ .control-input__btn{
    &[class*='fum-eye']{
      &:before{
        content: unicode($fum-eye-2) !important;
      }
    }
  }
}