.between-line {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  &_reverse{
    flex-direction: row-reverse;
  }
  &_align{
    &_center{
      align-items: center;
    }
  }
}