//
// Wells
// --------------------------------------------------


// Base class
.well {
  color: $gray-base;
  padding: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  background-color: $well-bg;
  a:not(.btn){
    color: inherit;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}
.well-container{
  @media (max-width: $screen-xs-max) {
    margin-left: $grid-gutter-width/-2;
    margin-right: $grid-gutter-width/-2;
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
  }
}
.well-success{
  color: $gray-ultra;
  background-color: $um-success-light;
}
.well-warning{
  color: $gray-ultra;
  background-color: $um-orange;
}

// Sizes
.well-lg {
  padding: 24px;
}
.well-sm {
  padding: 9px;
}
.well-ex{
  line-height: 1.2;
  padding: $m $l;
  font-size: $font-size-small;
  border-radius: $border-radius-base;
}
