//
// Typography
// --------------------------------------------------

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  margin-top: $headings-top;
  margin-bottom: $headings-bottom;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: $headings-small-color;
  }
  a {
    text-decoration: underline;
    transition: color 0.25s ease;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  small,
  .small {
    font-size: 65%;
  }
}

h4, .h4,
h5, .h5,
h6, .h6 {
  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1 {
  font-size: $font-size-h1;
  margin-top: $margin-top-h1;
  margin-bottom: $margin-bottom-h1;
  @media (max-width: $screen-min - 1) {
    font-size: $font-size-h3
  }
  @include FontSizeGatewayForMedia($screen-min, $screen-xs-max, $font-size-h3, $font-size-h1);
  &:first-child {
    margin-top: 0
  }
}

h2, .h2 {
  font-size: $font-size-h2;
  margin-top: $margin-top-h2;
  margin-bottom: $margin-bottom-h2;
  @media (max-width: $screen-min - 1) {
    font-size: $font-size-h4
  }
  @include FontSizeGatewayForMedia($screen-min, $screen-xs-max, $font-size-h4, $font-size-h2);
}

h3, .h3 {
  font-size: $font-size-h3;
  margin-top: $margin-top-h3;
  margin-bottom: $margin-bottom-h3;
  @media (max-width: $screen-min - 1) {
    font-size: $font-size-h4
  }
  @include FontSizeGatewayForMedia($screen-min, $screen-xs-max, $font-size-h4, $font-size-h3);
}

h4, .h4 {
  font-size: $font-size-h4;
  margin-top: $margin-top-h4;
  margin-bottom: $margin-bottom-h4;
  @media (max-width: $screen-min - 1) {
    font-size: $font-size-h6
  }
  @include FontSizeGatewayForMedia($screen-min, $screen-xs-max, $font-size-h5, $font-size-h4);
}

h5, .h5 {
  font-size: $font-size-h5;
  margin-top: $margin-top-h5;
  margin-bottom: $margin-bottom-h5;
  @media (max-width: $screen-min - 1) {
    font-size: $font-size-h6
  }
  @include FontSizeGatewayForMedia($screen-min, $screen-xs-max, $font-size-h6, $font-size-h5);
}

h6, .h6 {
  font-size: $font-size-h6;
  margin-top: $margin-top-h6;
  margin-bottom: $margin-bottom-h6;
  @media (max-width: $screen-min - 1) {
    font-size: $font-size-base
  }
  @include FontSizeGatewayForMedia($screen-min, $screen-xs-max, $font-size-base, $font-size-h6);
}

// Body text
// -------------------------
.b {
  font-weight: bold;
}

p {
  margin: 0 0 ($grid-gutter-width/2);
  &:last-child {
    margin-bottom: 0;
  }
}

.link-underline {
  text-decoration: underline;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.link-dashed {
  text-decoration: none;
  border-bottom: 1px dashed;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    border-bottom-color: transparent !important;
    text-decoration: none;
  }
}

.link-solid {
  text-decoration: none;
  border-bottom: 1px solid;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    border-bottom-color: transparent !important;
    text-decoration: none;
  }
}

.link-unstyled {
  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.link-collapse {
  &, &:hover, &:focus, &:active {
    text-decoration: none;
  }
  &:after {
    @extend %fum-extend;
    content: unicode($fum-caret-up);
    font-size: 50%;
    vertical-align: middle;
    margin-left: $s;

  }
  &.collapsed:after {
    content: unicode($fum-caret-down)
  }
}

.link-collapse[aria-expanded="false"]:not(:only-child) > span:first-child {
  display: inline;
}

.link-collapse[aria-expanded="false"]:not(:only-child) > span:last-child {
  display: none;
}

.link-collapse[aria-expanded="true"]:not(:only-child) > span:first-child {
  display: none;
}

.link-collapse[aria-expanded="true"]:not(:only-child) > span:last-child {
  display: inline;
}

.lead {
  margin-bottom: $grid-gutter-width;
  font-size: $font-size-large;
}

// Emphasis & misc
// -------------------------

// Ex: (12px small font / 14px base font) * 100% = about 85%
small,
.small {
  font-size: floor((100% * $font-size-small / $font-size-base));
}

mark {
  background-color: transparent;
  color: $um-orange;
  padding: 0;
}

// Alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

// Transformation
.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

// Size
.text-extra {
  font-size: $font-size-extra
}

.text-small {
  font-size: $font-size-small
}

.text-middle {
  font-size: 15px;
}

.text-default {
  font-size: $font-size-base;
}

// Contextual colors
.text-muted {
  color: $text-muted;
}

@include text-emphasis-variant('.text-base', $text-color);

@include text-emphasis-variant('.text-dark', $gray-darker);
@include text-emphasis-variant('.text-primary', $um-blue-light);

@include text-emphasis-variant('.text-gray', $gray);

@include text-emphasis-variant('.text-success', $um-success);

@include text-emphasis-variant('.text-info', $state-info-text);

@include text-emphasis-variant('.text-warning', $um-orange);

@include text-emphasis-variant('.text-danger', $state-danger-text);

@include text-emphasis-variant('.text-yellow', $um-yellow);
// Contextual backgrounds
// For now we'll leave these alongside the text classes until v4 when we can
// safely shift things around (per SemVer rules).
.bg-primary {
  // Given the contrast here, this is the only class to have its color inverted
  // automatically.
  color: #fff;
}

@include bg-variant('.bg-primary', $brand-primary);

@include bg-variant('.bg-success', $state-success-bg);

@include bg-variant('.bg-info', $state-info-bg);

@include bg-variant('.bg-warning', $state-warning-bg);

@include bg-variant('.bg-danger', $state-danger-bg);

@include bg-variant('.bg-gray', $gray-lighter);

// Page header
// -------------------------

.page-header {
  padding-bottom: (($line-height-computed / 2) - 1);
  margin: ($line-height-computed * 2) 0 $line-height-computed;
  border-bottom: 1px solid $page-header-border-color;
}

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-top: 0;
  margin-bottom: ($grid-gutter-width / 2);
  ul,
  ol {
    margin-bottom: 0;
  }
}

// List options

// [converter] extracted from `.list-unstyled` for libsass compatibility
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

// [converter] extracted as `@mixin list-unstyled` for libsass compatibility
.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

  &_comma {
    margin-left: 0;
    > li {
      padding-left: 0;
      padding-right: 0;
      &:not(:last-child):after {
        content: ', ';
      }
    }
  }
}

.list-column {
  column-gap: $l*2;
  column-width: 270px;
  li {
    display: inline-block;
    width: 100%;
  }
}

.list-none {
  list-style: none;
  padding: 0;
  li {
    position: relative;
    margin-bottom: $m;
  }
}

.list-dash {
  list-style: none;
  padding: 0;
  li {
    position: relative;
    padding-left: $font-size-base * 1.5;
    margin-bottom: $m;
    &:before {
      content: '— ';
      color: inherit;
      position: absolute;
      left: 0;
    }
  }
}

.list-circle {
  list-style: none;
  padding: 0;

  & > li {
    position: relative;
    padding-left: 1.2em;
    margin-bottom: $m;
    line-height: inherit;
  }

  & > li:before {
    font-family: "IconsUchmag";
    content: unicode($fum-circle);
    color: inherit;
    position: absolute;
    left: -0.3em;
    line-height: 1;
    padding-top: 0.27em;
  }
}

// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: $line-height-computed;
}

dt,
dd {
  line-height: $line-height-base;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0; // Undo browser default
}

// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).

.dl-horizontal {
  dd {
    @include clearfix; // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: $dl-horizontal-breakpoint) {
    dt {
      float: left;
      width: ($dl-horizontal-offset - 20);
      clear: left;
      text-align: right;
      @include text-overflow;
    }
    dd {
      margin-left: $dl-horizontal-offset;
    }
  }
}

// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
  // Add data-* attribute to help out our tooltip plugin, per https://github.com/twbs/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $abbr-border-color;
}

.initialism {
  font-size: 90%;
  @extend .text-uppercase;
}

// Blockquotes
blockquote {
  padding: ($line-height-computed / 2) $line-height-computed;
  margin: 0 0 $line-height-computed;
  font-size: $blockquote-font-size;
  border-left: 5px solid $blockquote-border-color;

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer,
  small,
  .small {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: $line-height-base;
    color: $blockquote-small-color;

    &:before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }
}

// Opposite alignment of blockquote
//
// Heads up: `blockquote.pull-right` has been deprecated as of v3.1.0.
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid $blockquote-border-color;
  border-left: 0;
  text-align: right;

  // Account for citation
  footer,
  small,
  .small {
    &:before {
      content: '';
    }
    &:after {
      content: '\00A0 \2014'; // nbsp, em dash
    }
  }
}

// Addresses
address {
  margin-bottom: $line-height-computed;
  font-style: normal;
  line-height: $line-height-base;
}

hr {
  margin-top: $headings-top;
  margin-bottom: $headings-top;
  border: none;
  height: 1px;
  background: url($dotted);
}

img {
  &[role="presentation"] {
    cursor: crosshair;
  }
  &[align="left"],
  &[align="right"] {
    margin-bottom: $grid-gutter-width/2;
    @media (max-width: $screen-xs-max) {
      float: none !important;
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: $screen-sm-min) {
      max-width: 50%;
    }
  }
  &[align="left"] {
    @media (min-width: $screen-sm-min) {
      margin-left: 0;
      margin-right: $grid-gutter-width/2;
    }
  }
  &[align="right"] {
    @media (min-width: $screen-sm-min) {
      margin-left: $grid-gutter-width/2;
      margin-right: 0;
    }
  }
}

.img-responsive-vertical {
  margin: auto;
  display: block;
  max-height: calc(100vh - 190px);
  max-width: 100%;
}