.game-row {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: flex-start;
  justify-content: flex-start;
  &__image{
    flex: 1 1 340px;
    margin-bottom: 30px;
    img{
      max-width: 100%;
    }
  }
  &__text{
    flex: 10 10 auto;
  }
}