//
// Pagination (multiple pages)
// --------------------------------------------------

.pagination {
  display: flex;
  font-size: 0;
  padding-left: 0;
  vertical-align: middle;
  &__li{
    position: relative;
    font-size: $font-size-base;
    display: inline-block;
    vertical-align: middle;
    padding-left: $x;
    padding-right: $x;
    width: $pagination-btn-size;
    transition: 0.35s ease;
    transition-property: width, opacity;
    will-change: width, opacity;
    &_double{
      width: $pagination-btn-size * 2;
    }
    &.prev,
    &.next{
      width: $pagination-btn-size - $x *2;
    }
    &.swiper-button-disabled{
      width: 0;
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
    }

    &:hover{
      .pagination__link_dotted:not(:last-child){opacity: 0}
      .pagination__link + .pagination__link{
        opacity: 1;
      }
    }
  }
  &__link{
    height: 100%;
    transition: opacity 0.35s ease;
    font-weight: bold;
    border-radius: $border-radius-base;
    position: relative;
    padding-top: $x;
    padding-bottom: $x;
    line-height: $line-height-base;
    text-decoration: none;
    color: $pagination-color;
    background-color: $pagination-bg;
    border: 1px solid $pagination-border;
    display: block;
    text-align: center;
    &_double{
      width: $pagination-btn-size * 2 - $x *2;
    }
    & + &{
      position: absolute;
      left: $x;
      right: $x;
      top: 0;
      opacity: 0;
    }
    &:hover,
    &:focus {
      z-index: 2;
      color: $pagination-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-border;
      text-decoration: none;
    }
    &_dotted{
      font-size: $font-size-h3;
      color: $pagination-color;
      line-height: 0.8;
      transition: 0.35s ease;
      transition-property: background-color;
      will-change:  background-color;
      &,
      &:hover,
      &:focus {
        background-color: transparent;
        border-color: transparent;
        cursor: pointer;
      }
    }
    &_active{
      &,
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }
  }
  &__container{
    padding-left: 0;
    padding-right: 0;
    width: $pagination-btn-size * 3; // Магическач цифра ~= размеру 3-х элементов в слайдере
  }
}

