$thumbnail-line-height: 1.3 !default;
.thumbnail {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  color: $gray-base;
  line-height: $thumbnail-line-height;
  height: 100%;
  width: 100%;
  cursor: pointer;
  &__title{
    &,
    &:hover,
    &:focus,
    &:active{
      color: inherit;
      text-decoration: none;
    }
  }
  &__reviews{display: none}
  &__info{
    order: -100;
    @media (min-width: $screen-sm-min) {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
    }
  }
  &__labels{
    margin-bottom: $m;
  }
  &__image{
    position: relative;
    min-height: 100px;
    will-change: unset;
    border-radius: $border-radius-large;
    border: 1px solid lighten($gray-base, 88%);
    overflow: hidden;
    &:before{
      content: '';
      position: relative;
      display: block;
      border-radius: inherit;
      background-image: inherit;
      background-size: 100% 100%;
    }
    .thumbnail__link{
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      border-radius: inherit;
      .loader{
        position: absolute;
        width: 2em;
        height: 2em;
        flex: 0 0 1em;
        z-index: 1;
        & ~ img {
          opacity: 0;
        }
      }
    }
    .img, img{
      //border-radius: $border-radius-large;
      opacity: 1;
      transition: opacity 0.35s ease;
      max-height: 100%;
    }
  }
  &__list{
    display: none;
  }
  &__caption{
    margin-top: $l;
    margin-bottom: $g/2;
    height: $font-size-base * $thumbnail-line-height * 4;
    overflow: hidden;
  }
  &__price{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    white-space: nowrap;
    margin-bottom: $l;
    small{
      font-size: $font-size-extra;
    }
    &-old{
      position: relative;
      color: lighten($gray-base, 54%);
      word-spacing: -1px;
      margin-right: 10px;
      &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid;
      }
    }
    &-base{
      font-weight: bold;
      font-size: $font-size-large;
      letter-spacing: -1px;
      word-spacing: 2px;
      small{
        letter-spacing: 0;
        font-weight: normal;
      }
    }
    &-label{
      display: none;
      margin-bottom: $m;
      .fum{vertical-align: middle}
      &_success{
        color: $brand-success;
      }
      &_danger{
        color: $brand-danger;
      }
      &_warning{
        color: $brand-warning;
      }
    }
  }
  &__fast{
    position: absolute;
    background-color: rgba($gray-base, 0.5);
    color: $gray-ultra;
    border-radius: $border-radius-base;
    bottom: $m;
    left: $grid-gutter-width/2;
    right: $grid-gutter-width/2;
    text-align: center;
    padding: ($x + $s) $m;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.35s ease;
    &:active,
    &:focus,
    &:hover{
      background-color: rgba($gray-base, 0.8);
    }
    .fum{margin-right: $s}
  }
  &__btn-inner{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.2;
    text-align: left;
    margin: -$x*2 (-$m);
    .fum{
      font-size: 13px * 2.4;
      line-height: 1;
    }
    small, .small{
      font-size: 13px;
      display: block;
    }
  }
}
@mixin thumbnail-list{
  text-align: center;
  padding: $l;
  border-radius: $border-radius-large;
  background-color: $gray-ultra;
  box-shadow: 0 0 0 rgba($gray, 0.2);
  transition: box-shadow 0.35s ease;
  will-change: box-shadow;
  &:hover{
    box-shadow: 0 3px 7px 4px rgba($gray, 0.2);
  }
  @media (min-width: $screen-xs-min) {
    display: block;
    text-align: left;
  }
  .thumbnail{

    &__title{
      font-size: $font-size-large;
      color: $link-color;
      text-decoration: underline;
      &:hover,
      &:focus,
      &:active{
        color: $link-hover-color;
        text-decoration: none;
      }
    }
    &__reviews{
      display: block;
      margin-bottom: $l;
      color: inherit;
      text-decoration: none;
      &:hover,
      &:focus,
      &:active{
        text-decoration: none;
        .fum{
          color: $um-orange;
          &:before{
            content: unicode($fum-heart-glare) !important;
          }
        }
      }
      .fum{
        color: $link-color;
      }
    }
    &__info{
      &:empty{
        display: none;
      }
    }
    &__labels{
      margin-bottom: $l;
      margin-right: $l;
      &:empty{
        display: none;
      }
    }
    &__body{
      @media (min-width: $screen-xs-min) {
        margin-left: ($thumbnail-product-width - $l*2) + $l;
      }
    }
    &__image{
      margin-left: auto;
      margin-right: auto;
      width: $thumbnail-product-width;
      border-radius: 0;
      @media (min-width: $screen-xs-min) {
        float: left;
        margin-right: $l;
        width: ($thumbnail-product-width - $l*2);
      }
      &:before{content: none}
      .thumbnail__link {
        position: relative;
      }
    }
    &__caption{
      height: auto;
      margin-top: 0;
      @media (max-width: $screen-xs-max) {
        margin-top: $g/2;
      }
    }
    &__price{
      flex-flow: column;
      align-items: center;
      margin-bottom: $m;
      @media (min-width: $screen-xs-min) {
        align-items: flex-start;
      }
      &-old{
        font-size: $font-size-h5;
        margin-right: 0;
      }
      &-base{
        font-size: $font-size-h3;
      }
      &-label{
        @media (min-width: $screen-xs-min) {
          display: block;
        }
      }
    }
    &__fast{
      @media (min-width: $screen-sm-min) {display: none}
      font-size: 12px;
    }
    &__control{
      display: flex;
      min-width: 135px;
      .btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 160px;
        @media (min-width: $screen-xs-min) {
          margin: 0;
        }
      }
    }
    &__inner{
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__list{
      padding-right: $m;
      flex-grow: 10;
      margin-bottom: $g/2;
      @media (min-width: $screen-sm-min) {display: block}
      td{
        padding: $x $m;
        line-height: 1.2;
        &:first-child{padding-left: 0}
      }
    }
    &__actions{
      flex-shrink: 0;
      @media (max-width: $screen-xs-min) {
        width: 100%;
      }
    }
  }
};

.thumbnail_transform.thumbnail{
  .product-list_view_list &{
    @include thumbnail-list;
  }
  @media (max-width: $screen-xs-max) {
    @include thumbnail-list;
  }
}

.thumbnail_product{
  .thumbnail__image:before{
    padding-top: 137%;
  }
}
.thumbnail_video{
  .thumbnail__image{
    border: none;
    &:before{
      padding-top: 56.25%;
    }
  }
}
.thumbnail_card{
  border-radius: $border-radius-large;
  border: 1px solid lighten($gray-base, 88%);
  padding: $m;
  transition: box-shadow 0.35s ease;
  transition-property: box-shadow, background-color;
  will-change: box-shadow, background-color;
  &:hover{
    box-shadow: 0 3px 7px 4px rgba($gray, 0.2);
    background-color: $um-blue-lighter;
  }
  .thumbnail__title{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    font-size: $font-size-large;
    font-weight: bold;
    @media (max-width: $screen-xs-min) {
      font-size: $font-size-small;
    }
  }
  .thumbnail__image{
    max-height: #{'calc(50vh - 132px)'};
    border: none;
    &:before{
      padding-top: 100%;
    }
  }
  &.thumbnail_danger,
  &.thumbnail_success{
    pointer-events: none;
    position: relative;
    .thumbnail__image{opacity: 0.6}
    .thumbnail__title{
      display: block;
    }
    &:before{
      @extend %fum-extend;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 80px;
      height: 80px;
      line-height: 80px;
      border-radius: 50%;
      color: $gray-ultra;
      text-align: center;
      font-size: 35px;
      z-index: 10;
      top: 50%;
      left: 50%;
      margin: -40px;
      @media (max-width: $screen-xs-min) {
        font-size: 16px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin: -20px;
      }
    }
  }
  &.thumbnail_success:before{
    content: unicode($fum-check);
    background-color: $um-success;
  }
  &.thumbnail_danger:before{
    content: unicode($fum-close);
    background-color: $brand-danger;
  }
}