.carousel-row {
  margin-left: $l/-2;
  margin-right: $l/-2;
  &__wrapper{
    width: auto !important;
    justify-items: stretch;
    align-items: flex-end;
  }
  &__slide{
    padding-left: $l/2;
    padding-right: $l/2;
    width: $thumbnail-product-width + $l;
    @media (min-width: $screen-sm-min) {width: 33.333%}
    @media (min-width: $screen-lg-min) {width: 25%}
    @media (min-width: $screen-el-min) {width: 20%}
    .carousel-row_long &{
      @media (min-width: $screen-sm-min) {width: 33.333%}
      @media (min-width: $screen-md-min) {width: 25%}
      @media (min-width: $screen-lg-min) {width: 20%}
      @media (min-width: $screen-el-min) {width: 16.66666%}
    }
    .carousel-row_small & {
      @media (min-width: $screen-sm-min) {width: 50%}
      @media (min-width: $screen-lg-min) {width: 50%}
      @media (min-width: $screen-el-min) {width: 50%}
    }
  }
  &__arrow{
    opacity: 0;
    width: $g;
    height: $g;
    color: $gray-ultra;
    background-color: rgba($gray-base, 0.6);
    border-radius: $border-radius-base;
    position: absolute;
    top: 50%;
    z-index: 100;
    cursor: pointer;
    text-align: center;
    line-height: $g;
    margin-top: -$g/2;
    transition: opacity 0.35s ease;
    transition-property: opacity, background-color;
    .no-touch &:hover{background-color: rgba($gray-base, 1)}
    .no-touch .carousel-row:hover &{
      opacity: 1;
      &.swiper-button-disabled{opacity: 0}
    }

    &_prev{
      left: $g/2 + $m;
    }
    &_next{right: $g/2 + $m}
  }
}