$social-grid-gutter-width: 10px/2;
.social {
  font-size: 28px;
  line-height: 1;
  text-align: center;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: -$social-grid-gutter-width;
  margin-right: -$social-grid-gutter-width;
  &__li{
    padding-left: $social-grid-gutter-width;
    padding-right: $social-grid-gutter-width;
  }
  &__link{
    color: $gray-ultra;
    display: block;
    width: 1em;
    height: 1em;
    line-height: 1;
    vertical-align: middle;
    border-radius: $border-radius-small;
    background-color: $gray-light;
    .tools__social &{
      opacity: 0.4;
      transition: opacity 0.35s ease;
      &:hover,
      &:focus,
      &:active{
        text-decoration: none;
        opacity: 1;
      }
    }
    &_vk{background: url('../images/icons/icon-vk.png#icons')}
    &_mail{background: url('../images/icons/icon-mail.png#icons')}
    &_odnoklassniki{background: url('../images/icons/icon-odnoklassniki.png#icons')}
    &_twitter{background: url('../images/icons/icon-twitter.png#icons')}
    &_facebook{background: url('../images/icons/icon-facebook.png#icons')}
    &_youtube{background: url('../images/icons/icon-youtube.png#icons')}
  }
  &_circle{
    .social{
      &__link{
        transform: translate3d(0, 0, 0);
        width: 41px;
        height: 39px;
        background-color: transparent;
        &_vk{background: url('../images/icons/icon-vk-c.png#icons')}
        &_mail{background: url('../images/icons/icon-mail-c.png#icons')}
        &_odnoklassniki{background: url('../images/icons/icon-odnoklassniki-c.png#icons')}
        &_google{background: url('../images/icons/icon-google-c.png#icons')}
        &_yandex{background: url('../images/icons/icon-yandex-c.png#icons')}
      }
    }
  }
}