@mixin FontSizeGatewayForMedia($fromScreen, $toScreen, $fromFontSize, $toFontSize){
  @media (min-width: $fromScreen) and (max-width: $toScreen) {
    $y1: $toFontSize / 1px;
    $y2: $fromFontSize / 1px;
    $x1: $toScreen / 1px;
    $x2: $fromScreen / 1px;
    font-size: #{'calc(('($y1 - $y2)' * 100vw + '($x1 * $y2 - $x2 * $y1)+px') / '($x1 - $x2)')'};
  }
}

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 10%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 10%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 10%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
      border-color: darken($border, 17%);
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

@mixin button-variant-light($color) {
  color: $color;
  background-color: transparent;
  border-color: $color;

  &:focus,
  &.focus {
    color: $color;
    background-color: rgba($color, 0.2);
    border-color: $color;
  }
  &:hover {
    color: $color;
    background-color: rgba($color, 0.2);
    border-color: $color;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: rgba($color, 0.2);
    border-color: $color;

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: rgba($color, 0.2);
      border-color: $color;
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: transparent;
      border-color: $color;
    } 
  }

  .badge {
    color: transparent;
    background-color: $color;
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}