.alert {
  position: relative;
  padding: $alert-padding;
  margin-bottom: $line-height-computed;
  border: 1px solid transparent;
  border-radius: $alert-border-radius;
  .close{
    font-size: $font-size-small;
    line-height: $font-size-base * $line-height-base;
  }
  &__inner{
    @media (min-width: $screen-sm-min) {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  &__icon{
    display: block;
    font-size: $line-height-base * 2 + em;
    margin-bottom: $grid-gutter-width/2;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }
  }

  h4 {
    margin-top: 0;
    color: inherit;
  }

  .alert-link {
    font-weight: $alert-link-font-weight;
  }

  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}
.alert-dismissable,
.alert-dismissible {
  padding-right: ($alert-padding + 20);
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}
.alert-success {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-info {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

.alert-warning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $text-color);
  .fum, .fa{
    color: $um-yellow;
  }
}

.alert-danger {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}