$header-padding-top: 35px !default;
$header-padding-bottom: 27px !default;

$header-contact-grid-gutter-width: 18px !default;

.header {
  width: 100%;
  flex: 0 0 auto;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-image: url(../images/games/pattern.jpg);
}