.datepicker {
  z-index: $zindex-dropdown !important;
  max-width: $screen-min - $grid-gutter-width;
  &-years{

  }
  .next,
  .prev{
    width: 1%;
    .fum{
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-sm;
      border-radius: 0;
      cursor: pointer;
      border-color: $gray-ultra !important;
    }
  }
  .day{
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-primary;
    display: table-cell;
    cursor: pointer;
    border-color: $gray-ultra !important;
    width: 14.28571428571429%;
    border-radius: 0;
    &.old{
      opacity: 0.4;
    }
  }
  .dow{
    @extend .btn;
    @extend .btn-sm;
    @extend .btn-link;
    display: table-cell;
    cursor: pointer;
    width: 14.28571428571429%;
    border-radius: 0;
    text-decoration: none !important;
    color: $text-color !important;
    font-weight: bold;
  }
  .century,
  .month,
  .decade,
  .year{
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
    border-radius: 0;
    width: 25%;
    cursor: pointer;
    border-color: $gray-ultra !important;
  }
  .datepicker-switch{
    text-align: center;
    cursor: pointer;
  }
}