@import "style";
.fum{
  font-family: 'IconsUchmag';
  font-weight: normal;
  font-style: normal;
  font-family: 'IconsUchmag' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}