@import "variables";

@font-face {
  font-family: 'IconsUchmag';
  src:
    url('#{$icomoon-font-path}/IconsUchmag.ttf?iumy7x') format('truetype'),
    url('#{$icomoon-font-path}/IconsUchmag.woff?iumy7x') format('woff'),
    url('#{$icomoon-font-path}/IconsUchmag.svg?iumy7x#IconsUchmag') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fum-"], [class*=" fum-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IconsUchmag' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.fum-warning {
  &:before {
    content: unicode($fum-warning); 
  }
}
.fum-bd-ico {
  &:before {
    content: unicode($fum-bd-ico); 
  }
}
.fum-filter {
  &:before {
    content: unicode($fum-filter); 
  }
}
.fum-googleb {
  &:before {
    content: unicode($fum-googleb); 
  }
}
.fum-eye {
  &:before {
    content: unicode($fum-eye); 
  }
}
.fum-eye-2 {
  &:before {
    content: unicode($fum-eye-2); 
  }
}
.fum-rss {
  &:before {
    content: unicode($fum-rss); 
  }
}
.fum-angle-long-right {
  &:before {
    content: unicode($fum-angle-long-right); 
  }
}
.fum-angle-long-left {
  &:before {
    content: unicode($fum-angle-long-left); 
  }
}
.fum-search-plus {
  &:before {
    content: unicode($fum-search-plus); 
  }
}
.fum-exclamation-circle {
  &:before {
    content: unicode($fum-exclamation-circle); 
  }
}
.fum-twitter {
  &:before {
    content: unicode($fum-twitter); 
  }
}
.fum-gplus {
  &:before {
    content: unicode($fum-gplus); 
  }
}
.fum-odnoklassniki {
  &:before {
    content: unicode($fum-odnoklassniki); 
  }
}
.fum-facebook {
  &:before {
    content: unicode($fum-facebook); 
  }
}
.fum-vkontakte {
  &:before {
    content: unicode($fum-vkontakte); 
  }
}
.fum-anlge-long-down {
  &:before {
    content: unicode($fum-anlge-long-down); 
  }
}
.fum-anlge-long-up {
  &:before {
    content: unicode($fum-anlge-long-up); 
  }
}
.fum-book {
  &:before {
    content: unicode($fum-book); 
  }
}
.fum-disc {
  &:before {
    content: unicode($fum-disc); 
  }
}
.fum-download {
  &:before {
    content: unicode($fum-download); 
  }
}
.fum-like {
  &:before {
    content: unicode($fum-like); 
  }
}
.fum-minus {
  &:before {
    content: unicode($fum-minus); 
  }
}
.fum-plus {
  &:before {
    content: unicode($fum-plus); 
  }
}
.fum-sale {
  &:before {
    content: unicode($fum-sale); 
  }
}
.fum-code {
  &:before {
    content: unicode($fum-code); 
  }
}
.fum-moneybox {
  &:before {
    content: unicode($fum-moneybox); 
  }
}
.fum-filter2 {
  &:before {
    content: unicode($fum-filter2); 
  }
}
.fum-heart-glare {
  &:before {
    content: unicode($fum-heart-glare); 
  }
}
.fum-heart-glare-o {
  &:before {
    content: unicode($fum-heart-glare-o); 
  }
}
.fum-question-circle {
  &:before {
    content: unicode($fum-question-circle); 
  }
}
.fum-heart {
  &:before {
    content: unicode($fum-heart); 
  }
}
.fum-heart-o {
  &:before {
    content: unicode($fum-heart-o); 
  }
}
.fum-star {
  &:before {
    content: unicode($fum-star); 
  }
}
.fum-angle-down {
  &:before {
    content: unicode($fum-angle-down); 
  }
}
.fum-angle-left {
  &:before {
    content: unicode($fum-angle-left); 
  }
}
.fum-angle-right {
  &:before {
    content: unicode($fum-angle-right); 
  }
}
.fum-angle-up {
  &:before {
    content: unicode($fum-angle-up); 
  }
}
.fum-basket {
  &:before {
    content: unicode($fum-basket); 
  }
}
.fum-caret-down {
  &:before {
    content: unicode($fum-caret-down); 
  }
}
.fum-caret-up {
  &:before {
    content: unicode($fum-caret-up); 
  }
}
.fum-check {
  &:before {
    content: unicode($fum-check); 
  }
}
.fum-circle {
  &:before {
    content: unicode($fum-circle); 
  }
}
.fum-close {
  &:before {
    content: unicode($fum-close); 
  }
}
.fum-envelope {
  &:before {
    content: unicode($fum-envelope); 
  }
}
.fum-search {
  &:before {
    content: unicode($fum-search); 
  }
}
.fum-star-o {
  &:before {
    content: unicode($fum-star-o); 
  }
}

