$icomoon-font-path: "fonts" !default;

$fum-warning: \e92c;
$fum-bd-ico: \e929;
$fum-filter: \e92a;
$fum-googleb: \e92b;
$fum-eye: \e927;
$fum-eye-2: \e928;
$fum-rss: \e926;
$fum-angle-long-right: \e924;
$fum-angle-long-left: \e925;
$fum-search-plus: \e923;
$fum-exclamation-circle: \e922;
$fum-twitter: \e91d;
$fum-gplus: \e91e;
$fum-odnoklassniki: \e91f;
$fum-facebook: \e920;
$fum-vkontakte: \e921;
$fum-anlge-long-down: \e91b;
$fum-anlge-long-up: \e91c;
$fum-book: \e917;
$fum-disc: \e918;
$fum-download: \e919;
$fum-like: \e91a;
$fum-minus: \e915;
$fum-plus: \e916;
$fum-sale: \e914;
$fum-code: \e913;
$fum-moneybox: \e912;
$fum-filter2: \e911;
$fum-heart-glare: \e90f;
$fum-heart-glare-o: \e910;
$fum-question-circle: \e90e;
$fum-heart: \f004;
$fum-heart-o: \f08a;
$fum-star: \e90d;
$fum-angle-down: \e900;
$fum-angle-left: \e901;
$fum-angle-right: \e902;
$fum-angle-up: \e903;
$fum-basket: \e904;
$fum-caret-down: \e905;
$fum-caret-up: \e906;
$fum-check: \e907;
$fum-circle: \e908;
$fum-close: \e909;
$fum-envelope: \e90a;
$fum-search: \e90b;
$fum-star-o: \e90c;

