@import "variables.scss";
/* alegreya-sans-100 - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 100;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-100.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Thin'), local('AlegreyaSans-Thin'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-100.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-100.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-100.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-100italic - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 100;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-100italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Thin Italic'), local('AlegreyaSans-ThinItalic'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-100italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-100italic.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-100italic.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Light'), local('AlegreyaSans-Light'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-300.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-300italic - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 300;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-300italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Light Italic'), local('AlegreyaSans-LightItalic'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-300italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-300italic.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-300italic.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-regular.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-italic - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Italic'), local('AlegreyaSans-Italic'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-italic.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-500 - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-500.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-500italic - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 500;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-500italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Medium Italic'), local('AlegreyaSans-MediumItalic'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-500italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-500italic.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-500italic.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-700.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-700italic - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-700italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Bold Italic'), local('AlegreyaSans-BoldItalic'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-700italic.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-700italic.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-800 - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-800.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans ExtraBold'), local('AlegreyaSans-ExtraBold'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-800.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-800italic - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 800;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-800italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans ExtraBold Italic'), local('AlegreyaSans-ExtraBoldItalic'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-800italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-800italic.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-800italic.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-900 - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 900;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Black'), local('AlegreyaSans-Black'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-900.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}
/* alegreya-sans-900italic - latin_cyrillic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 900;
  src: url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-900italic.eot'); /* IE9 Compat Modes */
  src: local('Alegreya Sans Black Italic'), local('AlegreyaSans-BlackItalic'),
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-900italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-900italic.woff') format('woff'), /* Modern Browsers */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('#{$alegreya-sans-font-path}/alegreya-sans-v8-latin_cyrillic-900italic.svg#AlegreyaSans') format('svg'); /* Legacy iOS */
}