.main {
  width: 100%;
  flex-grow: 10;
  position: relative;
  padding-bottom: $grid-gutter-width;
  &__row{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    @media (min-width: $screen-md-min) {
      display: block;
      @include clearfix();
    }
    @media (max-width: $screen-xs-max) {
      margin-left: $grid-gutter-width/-2;
      margin-right: $grid-gutter-width/-2;
    }
  }
  &__inner{
    padding-top: $grid-gutter-width/2;
    width: 100%;
    @media (max-width: $screen-xs-max) {
      padding-left: $grid-gutter-width/2;
      padding-right: $grid-gutter-width/2;
    }
    @media (min-width: $screen-md-min) {
      width: auto;
      .open-catalog-for-desktop .main__sidebar-catalog ~ &,
      .main__sidebar-filter ~ &,
      .main__sidebar ~ &{
        padding-left: $l;
        margin-left: $catalog-width;
      }
    }
  }
  &__flow{
    &_clean{
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
    }
    &_restore{
      width: 100%;
    }
  }
  &__title{
    margin-bottom: $headings-bottom;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: flex-start;
    h1, .h1{flex: 1 1 100%}
  }
}