html, body{
  position: relative;
  height: 100%;
  width: 100%;
  min-width: $screen-min;
}
body{
  @media (min-width: $screen-sm-min) {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
}