.breadcrumbs {
  font-size: $font-size-small;
  margin-bottom: $headings-bottom;
  height: $font-size-small * $line-height-base;
  width: 100%;
  position: relative;
  pointer-events: none;
  color: $breadcrumb-active-color;
  z-index: 10;
  &__container{
    position: absolute;
    width: 100%;
  }
  &__wrapper{
    align-items: baseline;
    padding: 0;
    list-style: none;
    margin-bottom: 0;
  }
  &__link{
    .no-touch &:after{
      @extend %fum-extend;
      content: unicode($fum-caret-down);
      font-size: $x*2;
      margin-left: $x*2;
      vertical-align: middle;
    }
    .no-touch &:last-child:after{
      content: none;
    }
    &:hover,
    &:focus,
    &:active{
      text-decoration: none;
    }
  }
  &__li{
    display: inline-block;
    white-space: nowrap;
    width: auto;
    pointer-events: auto;
    & + &:before{
      font-family: initial;
      font-size: $font-size-extra;
      padding: 0 $m;
      color: $breadcrumb-color;
      content: " → ";
    }
  }
  &__dropdown{
    overflow: hidden;
    position: absolute;
    padding-left: 35px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease 2.35s;
    transition-property: opacity, visibility, position;
    will-change: opacity, visibility, position;
    margin-right: -$screen-el; // Fix для правильного размера вложенного элемента
    max-width: 80vw;
    max-height: 100vh;


    .no-touch .breadcrumbs__li:hover > &,
    .no-touch .breadcrumbs__li.open > &{
      position: relative;
      visibility: visible;
      opacity: 1;
      transition-delay: 0.35s;
    }
    .dropdown-menu{
      display: block;
      position: relative;
      max-width: 100%;
      max-height: 80vh;
      overflow-y: auto;
      overflow-x: hidden;
      pointer-events: auto;
      font-size: $font-size-small;
      margin-bottom: $l;
      > li > a{
        white-space: normal;
      }
    }
  }
}