//
// Pager pagination
// --------------------------------------------------


.pager {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    > a,
    > span {
      display: inline-block;
      padding: 6px 14px;
      background-color: $pager-bg;
      border: 1px solid $pager-border;
      border-radius: $pager-border-radius;
    }

    > a:hover,
    > a:focus {
      text-decoration: none;
      background-color: $pager-hover-bg;
    }
  }
  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $pager-disabled-color;
      background-color: $pager-bg;
      border-color: $pager-disabled-color;
      cursor: $cursor-disabled;
    }
  }
  &__date{
    position: relative;
    .form-control{
      &, &[readonly="readonly"]{
        background-color: $input-bg;
        cursor: pointer;
        border-radius: $pager-border-radius;
        border-color: $pager-border;
        color: $um-blue-light;
      }
    }
    &:before{
      @extend %fum-extend;
      pointer-events: none;
      content: unicode($fum-filter);
      padding: $m;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      color: $um-blue-light;
    }
  }
}
