.card-list {
  margin: -$l $l/-2;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: $grid-gutter-width;
  position: relative;
  overflow: hidden;
  &__item{
    display: flex;
    padding: $m $l/2;
    &:not([class*='col-']){
      width: 100%;
      @media (min-width: $screen-xs-min) {width: 50%}
      @media (min-width: $screen-sm-min) {width: 33.333%}
      @media (min-width: $screen-md-min) {width: 25%}
      @media (min-width: $screen-lg-min) {width: 20%}
    }
    //@media (min-width: $screen-el-min) {width: 16.66666% }
  }
}