//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;
  color: lighten($gray-base, 14%);

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    @include translate(0, -25%);
    @include transition-transform(0.3s ease-out);
  }
  &.in .modal-dialog { @include translate(0, 0) }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: $modal-content-bg;
  border: none;
  border-radius: 10px;
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: 0;
  min-width: 280px;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-background;
  background-color: $modal-backdrop-bg;
  // Fade for backdrop
  &.fade { @include opacity(0); }
  &.in { @include opacity($modal-backdrop-opacity); }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  font-size: $font-size-h3;
  font-weight: bold;
  padding: $modal-title-padding;
  border-radius: $m - 1px $m - 1px 0 0;
  @include clearfix;
  &-success{
    background-color: $um-success-light;
    color: $gray-ultra;
  }
  &-danger{
    background-color: $brand-danger;
    color: $gray-ultra;
  }
  &-warning{
    background-color: $brand-warning;
    color: $gray-ultra;
  }
  &-primary{
    background-color: $brand-primary;
    color: $gray-ultra;
  }
  &-info{
    background-color: $um-blue-lighter;
  }
  &-light{
    background-color: transparent;
    color: $headings-color;
  }
}
// Close icon
.modal .close {
  font-size: 20px;
  line-height: 24px;
  z-index: 10;
  padding: 5px;
  color: $gray-darker;
  opacity: 1;
  text-shadow: none;
  margin-top: $m;
  margin-right: $m;
  position: absolute;
  right: 0;
  top: 0;
  outline: none !important;
}
.modal-header .close{
  position: static;
  margin: 0;
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: $modal-title-line-height;
  padding-top: $x;
  padding-bottom: $x;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: $modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
  padding: $modal-inner-padding;
  padding-top: 0;
  border-radius: 0 0 $m - 1px $m - 1px;
  @include clearfix; // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }

  &-success{
    background-color: $um-success-light;
    color: $gray-ultra;
  }
  &-danger{
    background-color: $brand-danger;
    color: $gray-ultra;
  }
  &-warning{
    background-color: $brand-warning;
    color: $gray-ultra;
  }
  &-primary{
    background-color: $brand-primary;
    color: $gray-ultra;
  }
  &-info{
    background-color: $um-blue-lighter;
  }
  &-light{
    background-color: transparent;
    color: $headings-color;
  }
}
.modal-controls{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: -$s;
  margin-right: -$s;
  margin-bottom: -$s;
  &__col{
    padding-left: $s;
    padding-right: $s;
    padding-bottom: $s;
    flex-grow: 2;
  }
}
.modal-well{
  margin-left: -$l;
  margin-right: -$l;
  padding: $l;
  background-color: $well-bg;
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.modal-dialog {
  @media (min-width: $screen-sm-min) {
    width: $modal-md;
    margin: 30px auto;
  }
}
.modal-content {
  @media (min-width: $screen-sm-min) {
    @include box-shadow(0 5px 15px rgba(0,0,0,.5));
  }
}

// Scale up the modal
.modal-ms {
  max-width: $modal-ms;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $screen-sm-min) {
    width: $modal-ms;
  }
}

.modal-sm {
  max-width: $modal-sm;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $screen-sm-min) {
    width: $modal-sm;
  }
}

.modal-lg  {
  @media (min-width: $screen-md-min) {
    width: $modal-lg;
  }
}
.modal-el  {
  @media (min-width: $screen-md-min) {
    width: $modal-lg;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}
