@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader {
  width: 1em;
  height: 1em;
  border: 0.1em solid $gray-light;
  border-top-color: $um-blue;
  border-radius: 50%;
  display: block;
  animation: spin 2s linear infinite;
}