.social-likes {
  &.dropdown-menu{
    left: auto !important;
    margin-top: $m;
    padding: $g/2 $l;
    @media (max-width: $screen-md-max) {
      right: 0;
    }
  }
  &__widget{
    color: $um-blue-light;
    cursor: pointer;
    margin-top: $s;
    margin-bottom: $s;
    position: relative;
    transition: color 0.35s ease;
    &:hover{
      color: $um-orange;
    }
  }
  &__button{
    display: flex;
    align-items: center;
  }

  &__counter,
  &__icon{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    color: $gray-ultra;
  }

  &__icon{
    @extend %fum-extend;
    font-size: 24px;
    margin-right: $g/2;
    &_vkontakte{
      background-color: #48729e;
      &:before{content: unicode($fum-vkontakte)}
    }
    &_facebook{
      background-color: #3b5998;
      &:before{content: unicode($fum-facebook)}
    }
    &_twitter{
      background-color: #00aced;
      &:before{content: unicode($fum-twitter)}
    }
    &_plusone{
      background-color: #dc4e41;
      &:before{content: unicode($fum-gplus)}
    }
    &_odnoklassniki{
      background-color: #eb722e;
      &:before{content: unicode($fum-odnoklassniki)}
    }
  }
  &__counter{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.35s ease;
    &:hover{opacity: 1}
    &_vkontakte{
      background-color: #48729e;
    }
    &_facebook{
      background-color: #3b5998;
    }
    &_twitter{
      background-color: #00aced;
    }
    &_plusone{
      background-color: #dc4e41;
    }
    &_odnoklassniki{
      background-color: #eb722e;
    }
  }
}


.social-likes_horizontal{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  .social-likes__widget{
    margin: 0;
  }
  .social-likes__icon{
    margin-right: $m;
  }
  .social-likes__title{
    margin-right: $l;
    color: $um-blue;
    text-transform: uppercase;
    font-weight: bold;
  }
}